/* ===== OVERLAY ===== */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 999;
}

/* ===== CONTAINER ===== */
.menu-container {
  position: relative;

  background: #ffffff;
  width: 90%;
  max-width: 620px;
  height: 400px;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  transform: scale(0.95);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu-container.open {
  transform: translateY(-110px) scale(1); /* <-- puxa pra cima */
  opacity: 1;
}

/* ===== LEFT SIDE ===== */
.menu-left {
  width: 170px;
  background: #f7f7f7;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-right: 1px solid #ddd;
}

.menu-left button {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  border: none;
  background: #e9e9e9;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  color: #333;
  transition: 0.3s ease;
}

.menu-left button:hover {
  opacity: 0.9;
  transform: scale(1.04);
}

.menu-left .active {
  background: #58c173;
  color: white;
}

/* ===== RIGHT SIDE ===== */
.menu-right {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

.menu-right h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.menu-right p {
  color: #555;
  line-height: 1.4;
}

.close-menu-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: #f3f3f3;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}

.close-menu-btn:hover {
  background: #58c173;
  color: white;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.92);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
